@font-face {
  font-family: "21Cent";
  src: local("21Cent"),
       local("21Cent Regular"),
       local("21Cent-Regular"),
       url("../fonts/21Cent.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Geometria";
  src: local("Geometria-Regular"),
       local("Geometria Regular"),
       url("../fonts/Geometria.ttf") format("truetype"),
       url("../fonts/Geometria.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Geometria";
  src: local("Geometria-Medium"),
       local("Geometria Medium"),
       url("../fonts/Geometria-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}
