.about {
  margin-bottom: 100px;
}

.about .container {
  @include dflex(nowrap, row, space-between, center);
}

.about__text-wrapper {
  flex-basis: 50%;
}

.about__heading {
  @include reset;
  margin-bottom: 15px;
  font-family: "21Cent";
  font-size: 34px;
  color: #111;
}

.about__text {
  @include reset;
  font-size: 16px;
  line-height: 24px;
  color: #111;
}

.about__img-wrapper {
  @include dflex(nowrap, row, flex-end, center);
  flex-basis: 50%;
}

.about__img {
  width: 680px;
  height: auto;
}

@media (max-width: $lg) {
  .about__text-wrapper {
    flex-basis: calc(50% - 15px);
    flex-shrink: 0;
  }

  .about__heading {
    font-size: 32px;
  }

  .about__img-wrapper {
    flex-basis: calc(50% - 15px);
    flex-shrink: 0;
  }

  .about__img {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: $md) {
  .about {
    margin-bottom: 70px;
  }

  .about .container {
    flex-direction: column;
  }

  .about__text-wrapper {
    flex-basis: auto;
    width: 100%;
  }

  .about__heading {
    font-size: 30px;
  }

  .about__text {
    margin-bottom: 15px;
  }

  .about__img-wrapper {
    flex-basis: auto;
    width: 100%;
  }
}

@media (max-width: $sm) {
  .about {
    margin-bottom: 50px;
  }

  .about__heading {
    font-size: 28px;
  }

  .about__text {
    font-size: 14px;
    line-height: 21px;
  }
}

@media (max-width: $xs) {
  .about {
    margin-bottom: 35px;
  }

  .about__heading {
    margin-bottom: 10px;
    font-size: 23px;
    text-align: center;
  }
}
