.about {
  margin-bottom: 91px;
}

.about .wrapper {
  @include dflex(nowrap, row, space-between, center);
}

.about__description {
  width: 575px;
}

.about__description {
  line-height: 33px;
}

.about__form {
  width: 575px;
  margin-left: auto;
}

@media (max-width: $lg) {
  .about__description,
  .about__form {
    flex-basis: calc(50% - 10px);
  }

  .about__form {
    margin-left: 0;
  }
}

@media (max-width: $md) {
  .about {
    margin-bottom: 75px;
  }

  .about__description {
      line-height: 26px;
  }
}

@media (max-width: $sm) {
  .about {
    margin-bottom: 50px;
  }

  .about .wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  .about__description {
    flex-basis: auto;
    width: 100%;
    margin-bottom: 20px;
  }

  .about__description p {
    @include reset;
    text-align: justify;
  }

  .about__form {
    flex-basis: auto;
    width: 100%;
  }
}
