.btn {
  @include dflex(nowrap, row, center, center);
  @include transition(background-color);
  height: 60px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  background-color: $bg-color-dark;
  outline: none;

  &:hover,
  &:focus {
    background-color: $bg-color-light;
  }

  &--accent {
    background-color: $accent-color;
  }
}
