.footer__copyright-line {
  margin-bottom: 12px;
  background-color: #f2f2f2;
}

.footer__copyright-line .container {
  @include dflex(nowrap, row, center, center);
  height: 1px;
  min-height: 57px;
}

.footer__copyright-text {
  font-size: 14px;
}
