.header__offer-line {
  background-color: #30a260;
}

.header__offer-line .container {
  @include dflex(nowrap, row, center, center);
  height: 1px;
  min-height: 45px;
}

.header__offer-link {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  outline: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
