.single-offer__container {
  @include dflex(nowrap, column, flex-start, flex-start);
  position: relative;
  min-height: 494px;
  margin-bottom: 75px;
  padding: 116px 0 0 555px;
  background-color: #000;
}

.single-offer__img {
  position: absolute;
  bottom: 0;
  left: 100px;
}

.single-offer__heading {
  @include reset;
  color: #fff;
  font-weight: 400;
  font-size: 34px;
  line-height: normal;
}

.single-offer__highlight {
  font-size: 79px;
  line-height: 84px;
  color: $accent-color;
  font-weight: 400;
}

.single-offer__description {
  @include reset;
  color: #fff;
  margin-bottom: 25px;
  font-size: 26px;
  line-height: 44px;
}

.single-offer__btn {
  padding: 0 60px;
}

@media (max-width: $lg) {
  .single-offer__container {
    padding-left: 50%;
  }

  .single-offer__img {
    left: 5%;
  }
}

@media (max-width: $md) {
  .single-offer__container {
    height: 1px;
  }

  .single-offer__img {
    left: 25%;
    width: 40%;
    transform: translateX(-50%);
  }

  .single-offer__heading {
    max-width: 100%;
    font-size: 30px;
  }

  .single-offer__highlight {
    max-width: 100%;
    font-size: 70px;
    line-height: normal;
  }

  .single-offer__description {
    max-width: 100%;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 32px;
  }
}

@media (max-width: $sm) {
  .single-offer__container {
    justify-content: center;
    align-items: center;
    min-height: 460px;
    margin-bottom: 50px;
    padding-top: 0;
    padding-left: 0;
    overflow: hidden;
  }

  .single-offer__img {
    left: calc(50% - 150px);
    width: 300px;
    z-index: 0;
    transform: translateX(-50%);
  }

  .single-offer__heading {
    font-size: 26px;
    text-align: center;
    z-index: 1;
  }

  .single-offer__highlight {
    font-size: 60px;
    text-align: center;
    z-index: 1;
  }

  .single-offer__description {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    z-index: 1;
  }

  .single-offer__btn {
    z-index: 1;
  }
}

@media (max-width: $xs) {
  .single-offer__img {
    left: calc(50% - 95px);
  }

  .single-offer__heading {
    font-size: 24px;
  }

  .single-offer__highlight {
    font-size: 46px;
  }

  .single-offer__description {
    font-size: 18px;
    line-height: 21px;
  }
}
