.special-offers {
  margin-bottom: 136px;
}

.special-offers__heading {
  @include reset;
  margin-bottom: 34px;
  padding: 0 20px;
  text-align: center;
  font-weight: 300;
  font-size: 32px;
  line-height: normal;
}

.special-offers__blocks {
  @include dflex(nowrap, row, flex-start, flex-start);
  margin-right: -10px;
  margin-left: -10px;
}

.special-offers__offer-block {
  @include transition(transform);
  @include dflex(nowrap, column, space-between, center);
  flex-basis: calc(100% - 20px);
  height: 446px;
  margin-right: 10px;
  margin-left: 10px;
  padding-bottom: 50px;
  background-color: #fafafa;
  transform: translateY(0) scale(1);
  outline: none;

  &:nth-child(even) {
    transform: translateY(45px) scale(1);
  }

  &:hover,
  &:focus {
    transform: translateY(0) scale(1.05);

    &:nth-child(even) {
      transform: translateY(45px) scale(1.05);
    }
  }
}

.special-offers__img-container {
  @include dflex(nowrap, column, center, center);
  height: 215px;
  margin-top: 70px;
  padding: 0 20px;
}

.special-offers__offer-block--additional-text .special-offers__img-container {
  margin-top: 0;
}

.special-offers__offer-img {
  width: 100%;
  height: auto;
  max-height: 100%;
  // mix-blend-mode: multiply;
  mix-blend-mode: darken;
  object-fit: contain;
}

.special-offers__offer-heading {
  max-width: 100%;
  padding: 0 45px;
  font-size: 16px;
  line-height: normal;
  font-weight: 300;
  color: #000;
  text-align: center;

  &--additional-text {
    margin-top: 50px;
  }
}

@media (max-width: $lg) {
  .special-offers__offer-block {
    height: 500px;
  }

  .special-offers__img-container {
    height: 200px;
    padding: 0 20%;
  }
}

@media (max-width: $md) {
  .special-offers__blocks {
    margin-right: -5px;
    margin-left: -5px;
  }

  .special-offers__offer-block {
    flex-basis: calc(25% - 10px);
    height: 450px;
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom: 40px;
  }

  .special-offers__img-container {
    margin-top: 60px;
  }
}

@media (max-width: $sm) {
  .special-offers__heading {
    margin-bottom: 25px;
  }

  .special-offers__blocks {
    flex-wrap: wrap;
    margin: -5px;
  }

  .special-offers__offer-block {
    flex-basis: calc(50% - 10px);
    height: 400px;
    margin: 5px;
    padding-bottom: 30px;

    &:nth-child(even) {
      transform: translateY(0) scale(1);
    }

    &:hover,
    &:focus {
      transform: translateY(0) scale(1.025);

      &:nth-child(even) {
        transform: translateY(0) scale(1.025);
      }
    }
  }

  .special-offers__img-container {
    margin-top: 40px;
  }
}

@media (max-width: $xs) {
  .special-offers__offer-block {
    flex-basis: calc(100% - 10px);
    height: 350px;
    padding-bottom: 20px;
  }

  .special-offers__img-container {
    margin-top: 30px;
  }
}
